*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    color: #000;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
display: flex;
justify-content: space-between;
gap: 34px;
padding: 16px 18px;
align-items: center;
}
        
.menu-button {
background: transparent;
display: inline-block;
width: 45px;
height: 25px;
position: relative;
}

.menu-button .picture-menu,
.menu-button .picture-menu::before,
.menu-button .picture-menu::after {
position: absolute;
top: 50%;
left: 50%;
width: 27px;
height: 4px;
margin-top: -2px;
margin-left: -20px;
background: #6B5AF9;
}

.menu-button .picture-menu::before,
.menu-button .picture-menu::after {
content:"";
}

.menu-button .picture-menu::before {
transform: translate(6.5px, -8px);
width: 41px;
}

.menu-button .picture-menu::after {
transform: translate(6.5px, 8px);
width: 41px;
background: #43CD93;
}

.sidebar {
background: rgba(163, 161, 161, 0.85);
backdrop-filter: blur(2px);
width: 100%;
height: 100%;
position: absolute;
top: 62px;
left: 0;
z-index: 20;
}

.close-button {
position: absolute;
top: 20px;
left: 14px;
}

.close-button:before, 
.close-button:after {
content: "";
position: absolute;
width: 14px;
height: 4px;
background: #2A2367;
}
    
.close-button:before {
transform: rotate(45deg);
}
    
.close-button:after {
transform: rotate(-45deg);
}

.sidebar__wrapper {
display: flex;
flex-direction: column;
width: 320px;
height: 100%;
background: #fff;
padding: 50px;
gap: 100px;
}

.sidebar__menu {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 28px;
font-size: 14px;
font-weight: 700;
color: #2A2367;
}

.sidebar__menu--element:hover {
text-shadow: 0px 3px 10px #111111;
}

.sidebar__info {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
color: #6B5AF9;
font-size: 18px;
font-weight: 700;
}

.sidebar__email {
padding-bottom: 32px;
}

.sidebar__email,
.sidebar__telephone, 
.sidebar__worktime {
color: #6B5AF9;
font-size: 18px;
font-weight: 700;
}

.sidebar__email:hover,
.sidebar__telephone:hover, 
.sidebar__worktime:hover {
text-decoration: underline;
}

.info-bar {
display: flex;
gap: 20px;
}

.info-bar__button {
border-radius: 5px;
background: #6B5AF9;
width: 52px;
height: 32.5px;
}

.info-bar__social-media {
display: inline-block;
padding-right: 14px;
}
                  
.social__link {
display: block;
width: 30px;
height: 30px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.info-bar__info {
display: flex;
flex-direction: column;
}

.info-bar__content {
display: none;
align-items: baseline;
padding-top: 10px;
}
                  
.info-bar__telephone {
font-size: 24px;
font-weight: 800;
color:#000;
}

.info-bar__worktime {
font-style: normal;
font-weight: 700;
margin-left: auto;
}

.navigation {
display: none;
flex-grow: 1;
}

.navigation__menu {
display: flex;
gap: 27px;
}

.navigation__links {
color: #2A2367;
font-size: 14px;
font-weight: 700;
}

.content {
display: flex;
max-width: 550px;
flex-direction: column;
margin: 0 auto;
padding: 5px;
gap: 20px;
}

.advertisement {
display: flex;
flex-direction: column;
max-width: 500px;
}    

.advertisement__text{
color: #2A2367;
font-size: 22px;
font-weight: 600;
}

.advertisement__text--marked {
color: #6B5AF9;
}

.advertisement__picture {
margin-top: -20px;
max-width: 500px;
}

.advertisement__img {
width: 100%;
height: 299px;
}

.order {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
height: 270px;
}


.order__promises {
color: #2A2367;
font-weight: 400;
flex-grow: 1;       
}

.order__promises--blot {
color: #6B5AF9;
font-weight: 700;
}

.order__button{
border-radius: 5px;
background: #6B5AF9;
width: 275px;
height: 60px;
color: #fff;
}

.order__text {
color: #6B5AF9;
text-align: center;
max-width: 500px;
}

.order__text--not-marked {
color: #2A2367;
}

.info-bar__button-text {
display: none;
color: #FFF;
font-size: 12px;
font-weight: 800;
}

@media (min-width: 720px) {

.logo {
width: 177.613px;
height: 55px;
}

.info-bar__button {
width: 62px;
height: 38.75px;
}

.info-bar__button-icon {
width: 20.021px;
height: 20.021px;
}

.sidebar {
top: 72px;
}

.close-button {
top: 20px;
left: 280px;
}
    
.close-button:before, 
.close-button:after {
width: 20px;
height: 5px;
}

.sidebar__wrapper {
gap: 200px;
}

.order {
align-items: flex-start;
}

.advertisement__img {
width: 100%;
height: 350px;
}

.content {
max-width: 900px;
padding-top: 41px;
position: relative;
margin: 0 auto;
}

.advertisement__picture {
position: absolute;
right: 0;
width: 60%;
}

.order__promises {
width: 356px;
}

.order__text {
width: 287px;
text-align: left;
}

.advertisement {
max-width: 1000px;
flex-direction: row;
gap: 0;
}  
}

@media (min-width: 1160px) {
.menu-button {
display: none;
}
    
.info-bar__button {
width: 177px;
height: 60px;
}
    
.info-bar__button-icon {
display: none; 
}

.info-bar__button-text {
display: inline;
}
    
.navigation {
display: block;
}
    
.info-bar__content{
display: flex;
}

.order {
height: 350px;
}

.advertisement__picture {
max-width: 700px;
bottom: 10px;
}

.content {
max-width: 1500px;
padding-top: 41px;
position: relative;
margin: 0 auto;
}

.advertisement__img {
width: 100%;
height: 550px;
}

.advertisement__text {
font-size: 36px;
width: 653px;
padding-top: 33px;
}

.order__promises {
font-size: 16px;
width: 619px;
}

.order__text {
font-size: 14px;
width: 472px;
padding-top: 20px;
}

.sidebar {
display: none;
}

}

@media (min-width: 1400px) {
.advertisement__picture {
max-width: 750px;
bottom: 10px;
}
}
                  
@keyframes green-button {
    to {
        width: 41px;
        background: #43CD93;
    }
}