*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

html,
body {
  margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    color: #000;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

        .header {
            display: flex;
            justify-content: space-between;
            gap: 34px;
            padding: 16px 18px;
            align-items: center;
            /* border: 1px solid red; */
        }
        
        .header__menu-button {
            background: transparent;
        }

                .telephone__button {
                    border-radius: 5px;
                    background: #6B5AF9;
                    width: 52px;
                    height: 32.5px;
                }

                .social__item {
                    display: inline-block;
                    padding-right: 14px;
                  }
                  
                  .social__link {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                  }

                  .header__info {
                    display: flex;
                    flex-direction: column;
                  }

                  .header__telephone {
                    display: flex;
                    gap: 20px;
                  }

                  .header__social {
                    display: none;
                    align-items: baseline;
                    padding-top: 10px;
                  }
                  
                  .info-telephone {
                    font-size: 24px;
                    font-weight: 800;
                    color:#000;
                  }

                  .info-worktime {
                    font-style: normal;
                    font-weight: 700;
                    margin-left: auto;
                  }

                  .header__navigation {
                    display: none;
                    flex-grow: 1;
                  }

                .navigation-list {
                display: flex;
                gap: 27px; 
                color: #2A2367;
                
                }

            .content {
                display: flex;
                max-width: 550px;
                flex-direction: column;
                margin: 0 auto;
            }

            .title__main {
                padding: 5px;
                display: flex;
                gap: 50px;
                flex-direction: column;
                max-width: 500px;
            }    

            .main__title{
                color: #2A2367;
                font-size: 22px;
                font-weight: 600;
                position: absolute;
                top: 60px;
            }

            .text-marked {
                color: #6B5AF9;
            }

            .main__picture {
                max-width: 500px;
            }

            .picture-img {
                width: 100%;
                height: 299px;
            }

            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                height: 270px;
                padding-left: 7px;
                padding-right: 7px;
                padding-top: 29px;
            }

            .main__info{
                padding-top: 29px;
                padding-bottom: 50px;
            }

                .main__info_normal {
                    color: #2A2367;
                    font-weight: 400;
                    flex-grow: 1;
                    
                }

                .main__info_blot {
                    color: #6B5AF9;
                    font-weight: 700;
                }

                .main__button{
                    border-radius: 5px;
                    background: #6B5AF9;
                    width: 275px;
                    height: 60px;
                    color: #fff;
                }

                .application__firstPart {
                    color: #6B5AF9;
                    text-align: center;
                    max-width: 500px;
                }

                .application__secondPart {
                    color: #2A2367;
                }

                .telephone__call {
                    display: none;
                    color: #FFF;
                    font-size: 12px;
                    font-weight: 800;
                }

                

                  @media (min-width: 720px) {

                    .logo {
                        width: 177.613px;
                        height: 55px;
                    }

                    .telephone__button {
                        width: 62px;
                        height: 38.75px;
                    }

                    .telephone__icon {
                        width: 20.021px;
                        height: 20.021px;
                    }

                    .menu-button {
                        width: 45px;
                        height: 25px;
                    }

                    .picture-img {
                        width: 569px;
                        height: 378px;
                    }

                    .content {
                        max-width: 1000px;
                        padding-top: 41px;
                        /* flex-direction: row; */
                        /* justify-content: space-between;   */
                    }

                    .main__info_normal {
                        width: 356px;
                    }

                    .application__firstPart {
                        width: 287px;
                    }

                    }

                    @media (min-width: 1100px) {
                        .header__menu-button {
                          display: none;
                        }
    
                        .telephone__button {
                            width: 177px;
                            height: 60px;
                        }
    
                        .telephone__icon {
                            display: none; 
                        }
    
                        .telephone__call {
                            display: inline;
                        }
    
                        .header__navigation {
                            display: block;
                        }
    
                        .header__social{
                            display: flex;
                        }
                      }
                  